details {background-color:#d9d2e9;}

figure {
    text-align: center;
    border-radius: 0px 0px 10px 25px;
    background-color: #cccccc;
    }

figcaption{
    text-align: center;
}

summary{
    font-weight: bold;
}